@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Chewy);

@import "{}/variables.scss";

body {
    background: #fffefb;
    color: $workswap-black;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
}

main {
    margin-top: 20px !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-default {
    background: $workswap-white;
}

.well {
    background-color: $workswap-white;
}