$main: #71b6f9;
$success: #79D279;

$workswap-black: #1A1A1A;
$workswap-white: #FFF;


// Breakpoints
$mobile-width: 450px;
$tablet-width: 768px;
$desktop-width: 1024px;

// Sidebar
$sidebar-width: 250px;