@import "{}/client/styles/mixins.scss";

.navbar {
  z-index: 2;
}

@include mobile {

  .navbar-header {
    display: flex;
    justify-content: center;
  }

  .navbar-form {
    margin-top: 0;
  }

}