@import "{}/variables.scss";

.faq-cta {
  position: relative;
  height: 300px;
  margin-top: -20px;
  margin-bottom: 30px;
  background: url('./images/faq.png') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $workswap-white;
}

.faq-cta-banner {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    margin: 0;
  }
}

.faq-link {
  color: $workswap-main;
  &:hover {
    color: lighten($workswap-main, 10%);
  }
}