@import "{}/client/styles/variables.scss";
@import "{}/client/styles/mixins.scss";

.cta-home {
  position: relative;
  height: 400px;
  margin-top: -20px;
  margin-bottom: 20px;
  background: url('./images/bg.jpg') no-repeat bottom center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 100;
    color: $workswap-white;
  }
  .form-group {
    max-width: 500px;
  }
}

@include mobile {

  .cta-home {
    padding: 55px;
    h1 {
      font-size: 35px;
      margin-top: -50px;
    }
  }

}

@include tablet {

  .cta-home {
    h1 {
      font-size: 55px;
      margin-top: -50px;
    }
  }

}