@import "{}/client/styles/mixins.scss";

.banner {
  height: 300px;
  background-size: cover !important;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-message {
  font-size: 120px;
  color: white;
}

@include mobile {

  .banner-message {
    font-size: 45px;
    margin-top: -50px;
  }

}