.banner {
  height: 300px;
  background-size: cover !important;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-username {
  font-size: 120px;
  color: white;
}