@import "{}/client/styles/variables.scss";
@import "{}/client/styles/mixins.scss";

.reset__success {
  @include flex(center, center, column);
}

.reset__success__icon {
  font-size: 120px;
  color: $success;
  animation: reset__success__animation__rotate;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.reset__success__message {
  text-align: center;
  font-size: 32px;
  color: $success;
}

@keyframes reset__success__animation__rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  40% {
    transform: rotate(560deg) scale(1.5);
  }
  50% {
    transform: rotate(560deg) scale(1.4);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}