@import "{}/client/styles/mixins.scss";

.profile-user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.profile-username {
  font-size: 30px;
  margin-bottom: 10px;
}

.profile-container {
  min-height: 200px;
  padding-top: 125px;
  padding-left: 30px;
  position: relative;
  width: 100%;
  margin-top: 85px;
  background: white;
  border: 1px solid #fafafa;
  box-shadow: 0 1px 4px rgba(0,0,0,.3),0 0 40px rgba(128,128,128,.1)inset;
}

.profile-details {
  position: absolute;
  top: 20px;
  right: 30px;
}

.profile-avatar {
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
}

.profile-ratings {
  position: absolute;
  top: 65px;
  left: 56px;
}

.profile-profession {
  position: absolute;
  top: 83px;
  left: 0;
  text-align: center;
  width: 182px;
}

@include mobile {

  .profile-avatar {
    left: calc(50% - 60px);
  }

  .profile-details {
    position: static;
    text-align: center;
  }

}