.profile-user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.profile-username {
  font-size: 30px;
  margin-bottom: 10px;
}

.profile-container {
  min-height: 200px;
  margin-top: -40px;
  padding-top: 90px;
  padding-left: 30px;
  position: relative;
}

.profile-details {
  position: absolute;
  top: 20px;
  right: 30px;
}

.profile-about {

}