@import "{}/client/styles/variables.scss";
@import "{}/client/styles/mixins.scss";

.change-avatar {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background: rgba(26, 26, 26, 0.7);
    .change-avatar-input-container {
      opacity: 1;
    }
    .change-avatar-icon {
      opacity: 0;
    }
  }
}

.change-avatar-input-container {
  @include flex(center, center);
  opacity: 0;
  height: 100%;
  width: 100%;
  color: $workswap-white;
  text-align: center;
}

.change-avatar-input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.change-avatar-icon {
  opacity: 1;
  position: absolute;
  bottom: 5px;
  left: calc(50% - 15px);
  color: $workswap-white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.40);
  height: 27px;
  width: 30px;
  border-radius: 5px;
}