@import "{}/variables.scss";
@import "{}/mixins.scss";

footer {
  z-index: -1;
  position: relative;
}

.footer-links a {
  color: $workswap-black;
}

@include mobile {

  footer {
    text-align: center;
  }

  .footer-logo {
    float: none !important;
  }

}